body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Sans-serif;
}

header {
  margin-top: 100px;
}

.earth {
  background-image: url('../images/earth.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.planets-menu {
  /* background-color: rgba(204, 0, 0, 0.75) ; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

nav a {
  color: white;
}

nav a:hover {
  color: blue;
  cursor: pointer;
}

.mercury {
  background-image: url('../images/mercury.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.venus {
  background-image: url('../images/venus.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mars {
  background-image: url('../images/mars.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jupiter {
  background-image: url('../images/jupiter.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.saturn {
  background-image: url('../images/saturn.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.uranus {
  background-image: url('../images/uranus.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.neptune {
  background-image: url('../images/neptune.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.planet-details {
  width: 100%;
  /* background-color: orange; */
  display: flex;

}

.info {
  width: 50%;
  height: 320px;
}

.info p:first-child {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
}


.picture {
  width: 50%;
  height: 320px;
  border: 2px double black;
  transition: 2s;
}

.picture:hover {
  transform:scale(2);
  border: 2px double white;
  transition: 2s;
}

@media only screen and  (max-width: 720px) {
 .planet-details {
   display: inline;
 }
  .info {
  width: auto;
  height: 260px;
}
  .picture {
    width: 100%;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  html {
    width: 100%;
  }
  body {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  h1 {
    font-size: 1.2em;
    width: 100%;
  }
  nav a {
    font-size: 14px;
    width: 25%;
    padding: 10px 0 ;
  }
  header {
    margin-top: 50px;
  }
}
